{% extends 'base.html' %}
{% load static %}

{% block title %}Backtesting{% endblock %}

{% block content %}
    <div class="container">
        <h3>Back testing module</h3>
        <hr>

        <div class="card">
            <h5 class="card-header">Test Single Strategy</h5>
            <div class="card-body">
                <h5 class="card-title">Select the strategy run the test</h5>
                <p class="card-text">Select the strategy of interest and run the tests.</p>
                <a href="{% url 'single' %}" class="btn btn-primary">Go to Test</a>
            </div>
        </div>

    </div>

{% endblock %}