{% extends 'base.html' %}
{% load static %}

{% block title %}Backtesting{% endblock %}

{% block content %}
    <div class="container">
        <h3>Back testing module</h3>
        <hr>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Statergy Name</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for i in page_obj %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ i.statergy_name }}</td>
                    <td>{{ i.statergy_status }}</td>
                    <td><a href="{% url 'test' i.statergy_name|slugify %}">Test</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>

    </div>

{% endblock %}